# Warm Up Activities

In this notebook you'll find a few different exercises combining dictionaries and lists in order to practice before the main activity of this project, Football Dictionaries.

## 1. Transform a user into a dictionary

Write a function `build_user_as_dict` that receives three parameters (`name, email, age`) and returns a dictionary:

##### ## Your Task ##

In [2]:
def build_user_as_dict(name, email, age):
  dic={}
  dic['name']=name
  dic['email']=email
  dic['age']=age
  return dic

##### Examples:

The following code

In [3]:
build_user_as_dict('John', 'john@gmail.com', 31)

{'name': 'John', 'email': 'john@gmail.com', 'age': 31}

should produce this output:

In [4]:
{
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}

{'name': 'John', 'email': 'john@gmail.com', 'age': 31}

##### == Tests ==

In [5]:
assert build_user_as_dict('John', 'john@gmail.com', 31) == {
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}

In [6]:
assert build_user_as_dict('Mary', 'mary@hotmail.com', 28) == {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}

---

## 2. Transform list into dictionary

The function `transform_user_list_to_dict` receives a list with the user information and transforms it into a dictionary.

Here's an example list, as you can see, the name is in the first position, email in 2nd and age in 3rd:

In [7]:
['Mary', 'mary@hotmail.com', 28]

['Mary', 'mary@hotmail.com', 28]

##### ## Your Task ##

In [8]:
def transform_user_list_to_dict(a_user):
    dic={}
    dic['name']=a_user[0]
    dic['email']=a_user[1]
    dic['age']=a_user[2]
    return dic

##### Examples:

The following code

In [9]:
transform_user_list_to_dict(['Mary', 'mary@hotmail.com', 28])

{'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}

should produce this output:

In [10]:
{
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}

{'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}

##### == Tests ==

In [11]:
l1 = ['John', 'john@gmail.com', 31]

assert transform_user_list_to_dict(l1) == {
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}

In [12]:
l2 = ['Mary', 'mary@hotmail.com', 28]

assert transform_user_list_to_dict(l2) == {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}

---

## 3. Transform multiple users to dictionary list

We're now going to combine multiple dictionaries in a list. If we have 2 users in the form of lists:

In [13]:
users = [
    ['John', 'john@gmail.com', 31],
    ['Mary', 'mary@hotmail.com', 28]
]
users

[['John', 'john@gmail.com', 31], ['Mary', 'mary@hotmail.com', 28]]

we want to see them now represented as dictionaries:

In [14]:
[{
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}, {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}]

[{'name': 'John', 'email': 'john@gmail.com', 'age': 31},
 {'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}]

We transform a list of lists, into a list of dictonaries.

##### ## Your Task ##

In [15]:
def transform_multiple_users_to_dicts(multiple_users):
    dic={}
    list=[]
    for i in multiple_users:
        dic['name']=i[0]
        dic['email']=i[1]
        dic['age']=i[2]
        list.append(dic)
        dic={}
    return list

##### Examples:

The following code

In [16]:
users = [
    ['John', 'john@gmail.com', 31],
    ['Mary', 'mary@hotmail.com', 28]
]

transform_multiple_users_to_dicts(users)

[{'name': 'John', 'email': 'john@gmail.com', 'age': 31},
 {'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}]

should produce this output:

In [17]:
[{
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}, {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}]

[{'name': 'John', 'email': 'john@gmail.com', 'age': 31},
 {'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}]

##### == Tests ==

In [18]:
users = [
    ['John', 'john@gmail.com', 31],
    ['Mary', 'mary@hotmail.com', 28],
    ['Rose', 'rose@yahoo.com', 30]
]

users_as_dict = transform_multiple_users_to_dicts(users)

assert users_as_dict == [{
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}, {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}, {
    'name': 'Rose',
    'email': 'rose@yahoo.com',
    'age': 30
}]

---

## 4. Group users by email domain

The function `group_users_by_email_domain` will receive a list of users as dictionaries, like the following one:

In [19]:
[{
    'name': 'John',
    'email': 'john@gmail.com',
    'age': 31
}, {
    'name': 'Mary',
    'email': 'mary@hotmail.com',
    'age': 28
}, {
    'name': 'Rose',
    'email': 'Rose@gmail.com',
    'age': 30
}]

[{'name': 'John', 'email': 'john@gmail.com', 'age': 31},
 {'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28},
 {'name': 'Rose', 'email': 'Rose@gmail.com', 'age': 30}]

and it should group them by the domain name of their email, something like:

* gmail.com:
 * Rose
 * John
* hotmail.com:
 * Mary

Which in code looks like:

In [20]:
{
    'gmail.com': [{
        'name': 'John',
        'email': 'john@gmail.com',
        'age': 31
    }, {
        'name': 'Rose',
        'email': 'Rose@gmail.com',
        'age': 30
    }],
    'hotmail.com': [{
        'name': 'Mary',
        'email': 'mary@hotmail.com',
        'age': 28
    }]
}

{'gmail.com': [{'name': 'John', 'email': 'john@gmail.com', 'age': 31},
  {'name': 'Rose', 'email': 'Rose@gmail.com', 'age': 30}],
 'hotmail.com': [{'name': 'Mary', 'email': 'mary@hotmail.com', 'age': 28}]}

##### ## Your Task ##

In [21]:
def group_users_by_email_domain(multiple_users):
    dic={}
    list=[]
    for i in multiple_users:
        if i['email'].split('@')[1] in dic:
            dic[i['email'].split('@')[1]].append(i)
        else:
            dic[i['email'].split('@')[1]]=[i]

    return dic

##### == Tests ==

In [22]:
users = [{
    'name': 'John',
    'email': 'john@gmail.com',     # gmail
    'age': 31
}, {
    'name': 'Mary',
    'email': 'mary@hotmail.com',   # hotmail
    'age': 28
}, {
    'name': 'Rose',
    'email': 'rose@yahoo.com',     # yahoo
    'age': 30
}, {
    'name': 'Jane',
    'email': 'jane@gmail.com',     # gmail
    'age': 25
}, {
    'name': 'Dustin',
    'email': 'dustin@hotmail.com',  # hotmail
    'age': 35
}]

users_grouped = group_users_by_email_domain(users)

assert users_grouped == {
    'gmail.com': [{
        'name': 'John',
        'email': 'john@gmail.com',     # gmail
        'age': 31
    }, {
        'name': 'Jane',
        'email': 'jane@gmail.com',     # gmail
        'age': 25
    }],
    'hotmail.com': [{
        'name': 'Mary',
        'email': 'mary@hotmail.com',   # hotmail
        'age': 28
    }, {
        'name': 'Dustin',
        'email': 'dustin@hotmail.com',  # hotmail
        'age': 35
    }],
    'yahoo.com': [{
        'name': 'Rose',
        'email': 'rose@yahoo.com',     # yahoo
        'age': 30
    }]
}

In [23]:
users = [{
    'name': 'Jason',
    'email': 'jason@rmotr.com',
    'age': 61
}]
users_grouped = group_users_by_email_domain(users)

assert users_grouped == {
    'rmotr.com': [{
        'name': 'Jason',
        'email': 'jason@rmotr.com',
        'age': 61
    }]
}